<!DOCTYPE html>
<html>
  <head>
    <title>ContactsPaperclip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <div class="jumbotron">
     <h1>Hello, people!</h1>
     <p><a class="btn btn-primary btn-lg" href="/contacts" role="button">Meet Your Contacts</a></p>
   </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
